doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    // CSS only
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi' crossorigin='anonymous')
    link(rel='stylesheet' href='../css/urban.css')
    title Agric Officer Dashboard
nav.navbar
    a.navbar-brand(href='/') Urban Farming Initiative
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon


header.card-header
    h4.card-title List of Current Produce
br
nav
#nav-tab.nav.nav-tabs(role='tablist')
    a#nav-profile-tab.nav-item.nav-link(href='/produce/producelist') List of Current Produce
#nav-tabContent.tab-content
br
table.table.table-bordered
    thead
        tr
            th Product Image
            th Product Name
            th Type
            th Category
            th Cost
            th Status
            th Supplier
            th Ward
            th Update
            th Delete
        tbody
            if products.length
                each product in products
                    tr
                        td 
                            img(src="/"+product.productImage, alt="Image" width="150px" height="170px")
                        td #{product.productName}
                        td #{product.productType}
                        td #{product.productGroup}
                        td #{product.unitCost}
                        td #{product.status}
                        td #{product.userID}
                        td #{product.ward}
                        td
                            a
                                button.btn.btn-primary.btn-block(href='/produce/update/'+product._id) Update
                        td
                            form(method="post" action='/produce/delete')
                                input(type="hidden" placeholder="" name="id", value=product._id)
                                button.btn.btn-danger.btn-block(type="submit") Delete
div.form-row
    div.col.form-group
        a(class='button' href='/agricOfficerDash') Back

.col-6.container-fluid
#footer.container-fluid
    .row.foot
        .col-4
            p.footer-txt A network by the farmers for the farmers! Join the ever expanding U-Farm network today.
            .br
        .col-5
            p.footer-txt  Not a farmer? Browse the different products on display and find farmers near you.
            .br
            .ul 
                .li.footer-txt  Home
                .li.footer-txt  Contact us 
                .li.footer-txt  Log in
        .col-3
        div.col-md-12 © 2022 Refactory Cohort 12, UFarm by Namala Pamela
script(src='../app.js')
script(src='css/bootstrap/js/bootstrap.bundle.js')
